In [284]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [285]:
train_df=pd.read_excel(r"D:\Kaggle\flightPrediction\Data_Train.xlsx")
train_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662

In [286]:
test_df=pd.read_excel(r"D:\Kaggle\flightPrediction\Test_set.xlsx")
test_df.head(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info

In [287]:
final_df=train_df.append(test_df)
final_df.tail(2)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [288]:
final_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
dtype: object

In [289]:
final_df['Date']=final_df['Date_of_Journey'].str.split('/').str[0]
final_df["Month"]=final_df['Date_of_Journey'].str.split('/').str[1]
final_df["Year"]=final_df['Date_of_Journey'].str.split('/').str[2]

In [290]:
#another method
#final_df['Date']=final_df['Date_of_Journey'].apply(lambda x:x.split("/")[0])
#final_df['Month']=final_df['Date_of_Journey'].apply(lambda x:x.split("/")[1])
#final_df['Year']=final_df['Date_of_Journey'].apply(lambda x:x.split("/")[2])

In [291]:
final_df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,03,2019
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,05,2019
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,9,06,2019
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,05,2019
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,01,03,2019

In [292]:
final_df['Date']=final_df['Date'].astype(int)
final_df["Month"]=final_df['Month'].astype(int)
final_df['Year']=final_df['Year'].astype(int)

In [293]:
final_df.dtypes

Airline             object
Date_of_Journey     object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int32
Month                int32
Year                 int32
dtype: object

In [294]:
final_df.drop(['Date_of_Journey'],axis=1,inplace=True)

In [295]:
final_df.head(2)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

In [296]:
final_df['Arrival_Time']=final_df['Arrival_Time'].str.split(' ').str[0]

In [297]:
final_df.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [298]:
final_df['Arrival_hour']=final_df['Arrival_Time'].apply(lambda x:x.split(':')[0])
final_df['Arrival_min']=final_df['Arrival_Time'].apply(lambda x:x.split(':')[1])

In [299]:
final_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int32
Month                int32
Year                 int32
Arrival_hour        object
Arrival_min         object
dtype: object

In [300]:
final_df[['Arrival_hour', 'Arrival_min']] = final_df[['Arrival_hour', 'Arrival_min']].astype(int)

In [301]:
final_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Dep_Time            object
Arrival_Time        object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int32
Month                int32
Year                 int32
Arrival_hour         int32
Arrival_min          int32
dtype: object

In [302]:
final_df.drop(['Arrival_Time'],axis=1,inplace=True)

In [303]:
final_df.columns

Index(['Airline', 'Source', 'Destination', 'Route', 'Dep_Time', 'Duration',
       'Total_Stops', 'Additional_Info', 'Price', 'Date', 'Month', 'Year',
       'Arrival_hour', 'Arrival_min'],
      dtype='object')

In [304]:
final_df['Dep_Time']=final_df['Dep_Time'].str.split(' ').str[0]

In [305]:
final_df['Dep_Time']

0       22:20
1       05:50
2       09:25
3       18:05
4       16:50
        ...
2666    20:30
2667    14:20
2668    21:50
2669    04:00
2670    04:55
Name: Dep_Time, Length: 13354, dtype: object

In [306]:
final_df["Dep_hour"]=final_df['Dep_Time'].apply(lambda x:x.split(':')[0])
final_df["Dep_min"]=final_df['Dep_Time'].apply(lambda x:x.split(':')[1])

In [307]:
final_df.drop(['Dep_Time'],axis=1,inplace=True)

In [308]:
final_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int32
Month                int32
Year                 int32
Arrival_hour         int32
Arrival_min          int32
Dep_hour            object
Dep_min             object
dtype: object

In [309]:
final_df[['Dep_hour', 'Dep_min']] = final_df[['Dep_hour', 'Dep_min']].astype(int)

In [310]:
final_df.dtypes

Airline             object
Source              object
Destination         object
Route               object
Duration            object
Total_Stops         object
Additional_Info     object
Price              float64
Date                 int32
Month                int32
Year                 int32
Arrival_hour         int32
Arrival_min          int32
Dep_hour             int32
Dep_min              int32
dtype: object

In [311]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [312]:
final_df[final_df['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

In [313]:
final_df['Total_Stops']=final_df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [314]:
final_df.head()

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50

In [315]:
final_df.drop(['Route'],axis=1,inplace=True)

In [316]:
final_df

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1.0,No info,NaN,6,6,2019,20,25,20,30
2667,IndiGo,Kolkata,Banglore,2h 35m,0.0,No info,NaN,27,3,2019,16,55,14,20
2668,Jet Airways,Delhi,Cochin,6h 35m,1.0,No info,NaN,6,3,2019,4,25,21,50
2669,Air India,Delhi,Cochin,15h 15m,1.0,No info,NaN,6,3,2019,19,15,4,0
2670,Multiple carriers,Delhi,Cochin,14h 20m,1.0,No info,NaN,15,6,2019,19,15,4,55

In [317]:
final_df['duration_hour']=final_df["Duration"].str.split(' ').str[0].str.split('h').str[0]

# important here below the 5m scenaario

In [318]:
final_df[final_df['duration_hour']=='5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,duration_hour
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50,5m
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50,5m

drop the above two rows

In [319]:
final_df.drop(6474,axis=0,inplace=True)
final_df.drop(2660,axis=0,inplace=True)

In [320]:
#now it will show no 5m
final_df[final_df['duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_min, Dep_hour, Dep_min, duration_hour]
Index: []

In [321]:
final_df['duration_hour']=final_df["duration_hour"].astype(int)

In [322]:
final_df['duration_min']=final_df["Duration"].str.split(' ').str[1].str.split('m').str[0]

In [323]:
final_df['duration_min']

0        50
1        25
2       NaN
3        25
4        45
       ...
2666     55
2667     35
2668     35
2669     15
2670     20
Name: duration_min, Length: 13351, dtype: object

In [324]:
final_df['duration_min'].isnull().sum()

1283

In [325]:
final_df['duration_min'].fillna(0, inplace=True)

In [326]:
final_df['duration_min']=final_df['duration_min'].astype(float)

In [327]:
final_df['duration_min'].isnull().sum()

0

In [328]:
final_df.drop(['Duration'],axis=1,inplace=True)

In [329]:
final_df['Duration']=(final_df['duration_hour']*60)+final_df['duration_min']

In [330]:
final_df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,duration_hour,duration_min,Duration
0,IndiGo,Banglore,New Delhi,0.0,No info,3897.0,24,3,2019,1,10,22,20,2,50.0,170.0
1,Air India,Kolkata,Banglore,2.0,No info,7662.0,1,5,2019,13,15,5,50,7,25.0,445.0
2,Jet Airways,Delhi,Cochin,2.0,No info,13882.0,9,6,2019,4,25,9,25,19,0.0,1140.0
3,IndiGo,Kolkata,Banglore,1.0,No info,6218.0,12,5,2019,23,30,18,5,5,25.0,325.0
4,IndiGo,Banglore,New Delhi,1.0,No info,13302.0,1,3,2019,21,35,16,50,4,45.0,285.0

In [331]:
final_df.drop('duration_hour',axis=1,inplace=True)
final_df.drop('duration_min',axis=1,inplace=True)

In [333]:
final_df["Airline"].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [334]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [335]:
final_df["Airline"]=le.fit_transform(final_df['Airline'])
final_df["Source"]=le.fit_transform(final_df['Source'])
final_df["Destination"]=le.fit_transform(final_df['Destination'])
final_df["Additional_Info"]=le.fit_transform(final_df['Additional_Info'])

In [336]:
final_df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min,Duration
0,3,0,5,0.0,8,3897.0,24,3,2019,1,10,22,20,170.0
1,1,3,0,2.0,8,7662.0,1,5,2019,13,15,5,50,445.0
2,4,2,1,2.0,8,13882.0,9,6,2019,4,25,9,25,1140.0
3,3,3,0,1.0,8,6218.0,12,5,2019,23,30,18,5,325.0
4,3,0,5,1.0,8,13302.0,1,3,2019,21,35,16,50,285.0

In [337]:
final_df.dtypes

Airline              int32
Source               int32
Destination          int32
Total_Stops        float64
Additional_Info      int32
Price              float64
Date                 int32
Month                int32
Year                 int32
Arrival_hour         int32
Arrival_min          int32
Dep_hour             int32
Dep_min              int32
Duration           float64
dtype: object